@import '../../partials/variables.scss';
@import '../../partials/mixins.scss';
@import '../../partials/fonts.scss';

.comment-single {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  
  @include flex-row;
    min-width: 18rem;
    margin: 0 1rem 0rem 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  @include tablet {
    margin: 0 1.5rem 0rem 1.5rem;
  }
  @include desktop {
  margin-left: 0;
  }
}

.comment__avatar {
  background-color: silver;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1.1rem auto 0;
  border-radius: 1.25rem;
}

.comment__text-header {
  @include flex-row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  @include tablet {
      justify-content: flex-start;
      align-items: center;
  }
}

.comment__text-user {
  align-self: center;
  font-family: 'Avenir';
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
  @include tablet {
      font-family: 'Avenir bold';
      font-size: 0.9rem;
      margin-right: 1rem;
  }
}

.comment__text-date {   
  align-self: center;
  @include text__title;
  color: #AFAFAF;
  @include tablet {
      margin-left: 0; 
  }
}

.comment__text-box {
  width: 69.375vw;
  height: auto;
  padding-right: 0;
  @include tablet {
    width: 81.25vw;
  }
  @include desktop {
    width: 49vw;
  }
}

.comment__text-own {
  font-size: 0.875rem;
}

